In [ ]:

input_str = input("Enter a string: ")
char_list = list(input_str)
del char_list[1:3]
reversed_list = char_list[::-1]
result_str = ''.join(reversed_list)
print(result_str)

Enter a string: python
nohp

In [ ]:
# Input two numbers from user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
# Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "Division by zero is not allowed"
print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")

Enter the first number: 11
Enter the second number: 12
Addition: 23.0
Subtraction: -1.0
Multiplication: 132.0
Division: 0.9166666666666666

In [ ]:
# Input a sentence from user
sentence = input("Enter a sentence: ")
# Replace 'python' with 'pythons'
modified_sentence = sentence.replace('python', 'pythons')
print(modified_sentence)

Enter a sentence: I love python
I love pythons

In [ ]:
# Input score from user
score = float(input("Enter the score: "))
# Determine the grade
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
print(f"The grade is: {grade}")

Enter the score: 87
The grade is: B

In [ ]:
x = [23, 'Python', 23.98]
# Create a list of types of elements
types_list = [type(element) for element in x]
print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
# Define the sets and list
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
# Find the length of the set IT_companies
print("Length of IT_companies:", len(IT_companies))
# Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print("IT_companies after adding 'Twitter':", IT_companies)
# Insert multiple IT companies at once
IT_companies.update({'LinkedIn', 'Snapchat'})
print("IT_companies after adding more companies:", IT_companies)
# Remove one of the companies from IT_companies
IT_companies.remove('Apple')
print("IT_companies after removing 'Apple':", IT_companies)
# Difference between remove and discard
# 'remove' will raise a KeyError if the item is not found
# 'discard' will not raise an error if the item is not found
# Join A and B
joined_set = A.union(B)
print("Joined A and B:", joined_set)
# Find A intersection B
intersection = A.intersection(B)
print("Intersection of A and B:", intersection)
# Check if A is a subset of B
is_subset = A.issubset(B)
print("Is A a subset of B?", is_subset)
# Check if A and B are disjoint sets
are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets?", are_disjoint)
# Join A with B and B with A
A.update(B)
B.update(A)
print("A after joining with B:", A)
print("B after joining with A:", B)
# Symmetric difference between A and B
symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)
# Delete the sets completely
del A
del B
# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
print("Length of the list:", len(age))
print("Length of the set:", len(age_set))

Length of IT_companies: 7
IT_companies after adding 'Twitter': {'Facebook', 'Apple', 'Google', 'Twitter', 'Amazon', 'IBM', 'Oracle', 'Microsoft'}
IT_companies after adding more companies: {'Facebook', 'Apple', 'Snapchat', 'Twitter', 'Microsoft', 'Oracle', 'Google', 'LinkedIn', 'Amazon', 'IBM'}
IT_companies after removing 'Apple': {'Facebook', 'Snapchat', 'Twitter', 'Microsoft', 'Oracle', 'Google', 'LinkedIn', 'Amazon', 'IBM'}
Joined A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B? True
Are A and B disjoint sets? False
A after joining with B: {19, 20, 22, 24, 25, 26, 27, 28}
B after joining with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: set()
Length of the list: 8
Length of the set: 5